/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary : 255 66 68;
    --color-background : 15 22 29;
}

.stopScroll {
	overflow-y: hidden;
}
